.form_box {
  background-color: $color_5;
  color: $color_3;
  padding: 5%;
  font-family: $font-family_1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  width: 100%;
  padding: 5%;
  max-width: 700px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.selection {
  @include flexlayout(row, 15px);
}
input {
  width: 100%;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  box-sizing: border-box;
}
