@media (min-width: 768px) {
  .form_elements {
    @include flexlayout(column, 10px);
  }
  .selection {
    gap: 25px;
  }
  form {
    max-width: 100%;
  }
  .navbar-elem {
    margin-left: 5px;
  }
  .footer__box {
    align-items: baseline;
    padding-left: 50%;
  }
  .section_a_box {
    @include flexlayout(row, 3rem);
    flex-wrap: nowrap;
  }
  .section_c_box {
    @include flexlayout(row, 3rem);
    flex-wrap: nowrap;
  }
  .section_b_box {
    @include flexlayout(row, 3rem);
    flex-wrap: nowrap;
  }
  .section_c_description {
    text-align: right;
    padding-left: 50%;
  }
  .img_box {
    @include flexlayout(row, 15px);
  }
  .img_comunication {
    max-width: 40%;
  }
  .img_product {
    max-width: 40%;
  }
  .img_project {
    max-width: 40%;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 200%;
  }
  h2 {
    font-weight: 800;
    font-size: 300%;
  }
  h3 {
    font-size: 180%;
  }
  h4 {
    font-size: 110%;
  }
  span {
    font-size: 105%;
  }
  h6 {
    font-size: 105%;
  }
  p {
    font-size: 100%;
  }
  .navbar-elem {
    margin-left: 80px;
  }
  .form_box {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 25%;
    padding-left: 25%;
  }
}
