.img_comunication {
  max-width: 80%;

  &:hover {
    max-width: 45%;
  }
}
.img_product {
  max-width: 80%;

  &:hover {
    max-width: 45%;
  }
}
.img_project {
  max-width: 80%;

  &:hover {
    max-width: 45%;
  }
}

.title_box {
  color: $color_2;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 18%;
  padding-left: 12%;
  background-color: $color_1;
}
.img_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 15px;
  flex-wrap: wrap;
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: linear-gradient($color_5, $color_6);
}

.accordion {
  padding-right: 18%;
  padding-left: 12%;
  padding-bottom: 8%;
  background-color: $color_1;
  color: $color_4;
}
.accordion-item {
  background-color: $color_1;
  color: $color_2;
}
