$color_1: rgb(33, 33, 100);
$color_2: rgb(255, 255, 255);
$color_3: rgb(36, 36, 36);
$color_4: rgb(0, 0, 55);
$color_5: rgb(230, 245, 255);
$color_6: rgb(180, 208, 225);
$font-family_1: "Libre Franklin", sans-serif;
$font-family_2: "Nunito", sans-serif;
